@model PaginatedList<PromoViewModel>

@{ Layout = "_PanelLayout"; }

<div class="container">

    <div class="row p-3 mb-3">

        <div class="col-2 p-0">

            <h6 class="my-2">Promociones</h6>

        </div>

        <div class="col-6">

            @using (Html.BeginForm("List", "Promo", FormMethod.Get, new { @class = "input-group", @enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()

                <input class="form-control form-control-light border border-primary rounded mr-2" type="search" name="SearchString" value="@ViewData["currentFilter"]" placeholder="Buscar">

                <button class="btn btn-primary border border-primary text-white" value="ListSearch" type="submit"><i class="la la-search"></i></button>
            }

        </div>

        <div class="col-4">

            <div class="btn-group">

                <a href="@Url.Action("Create", "Promo")" class="btn btn-large btn-primary pull-right">Crear promocion</a>

                <a href="@Url.Action("List", "Promo", new { pageIndex = 1})" class="btn btn-secondary text-white">Volver a la lista</a>

            </div>

        </div>

    </div>

    <div class="row">

        @foreach (PromoViewModel promo in Model)
        {
            <div class="col-3">

                <div class="card border-0">

                    <img class="card-img-top mx-auto book-size" src="@Url.Content(promo.ImagePath)" alt="Caratula del libro">

                    <div class="card-body">

                        <h5 class="card-title text-center"><a>@promo.Title</a></h5>

                        <div class="mx-4">

                            <a class="btn la la-edit la-2x mx-3 " title="Editar" href="@Url.Action("Edit", "Promo", new { ID = promo.ID })"></a>

                            <a class="btn la la-trash la-2x " onclick="return confirm('&iquest Seguro deseas eliminar la promoci\u00F3n?');" title="Eliminar" href="@Url.Action("Delete", "Promo", new { ID = promo.ID })"></a>

                        </div>

                    </div>

                </div>

            </div>
        }

    </div>

    <div class="row mt-5">

        @{
            var previousDisabled = Model.HasPreviousPage ? "" : "disabled";

            var nextDisabled = Model.HasNextPage ? "" : "disabled";
        }

        <div class="col">

            <nav>

                <ul class="pagination haber-panel-pagination">

                    <li class="page-item mx-auto"><a class="btn btn-secondary @previousDisabled" href="@Url.Action("List", "Promo", new { pageIndex = Model.PageIndex - 1, currentFilter = @ViewData["CurrentFilter"]})">Anterior</a></li>

                    <li class="page-item mx-auto"><a class="btn btn-secondary @nextDisabled" href="@Url.Action("List", "Promo", new { pageIndex = Model.PageIndex + 1, currentFilter = @ViewData["CurrentFilter"]})">Siguiente</a></li>

                </ul>

            </nav>

        </div>

    </div>

</div>