<div class="container-fluid p-0 haber-background-color-yellow">

    <header>

        @Html.Partial("_NavigationBar")

        @Html.Partial("_Carousel")

    </header>
    
    <section>

        @Html.Partial("_Promo")

    </section>
    
    <section>

        @Html.Partial("_RecommendedBooks")

    </section>

    <section>

        @Html.Partial("_HighlightedServices")

    </section>

    <footer>

        @Html.Partial("_Footer")

    </footer>

</div>